{% extends 'base.html' %}

{% block title %}Update{% endblock title %}
{% block body %}
<h2>Update Data</h2>
<div>
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="70" required id="id_name">
      </div>
      <div>
        <label for="id_email">Email:</label>
        <input type="email" name="email" maxlength="70" required id="id_email">
      </div>
      <div>
        <label for="id_password">Password:</label>
        <input type="password" name="password" maxlength="70" required id="id_password">
      </div>
      <div>
      <a href="{% url 'add' %}">back</a>
        <button type='submit'>
        update</button>
      </div>
    </form>
</div>
{% endblock body %}
